@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Disk Inventory</h1>
    <br />
    <h4>Select a page to review:</h4>
    <br />
    <h6>
        <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Index">Manage Artists</a>
    </h6>
    <h6>
        <a class="nav-link text-dark" asp-area="" asp-controller="Borrower" asp-action="Index">Manage Borrowers</a>
    </h6>
    <h6>
        <a class="nav-link text-dark" asp-area="" asp-controller="Media" asp-action="Index">Manage Media</a>
    </h6>
</div>
