@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Disk Inventory</h1>
    <p>Select a page to review:</p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Index">Manage Artists</a>
    </p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Borrower" asp-action="Index">Manage Borrowers</a>
    </p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Media" asp-action="Index">Manage Media</a>
    </p>
</div>
