@model Borrower
@{ 
    ViewBag.Title = "Delete Borrower";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <br />

    <h5>Please confirm that you want to delete:</h5>
    <br />
    <h4>@Model.FirstName @Model.LastName</h4>
    <br />

    <form asp-action="Delete" method="post">

        <input type="hidden" asp-for="BorrowerId" />

        <button type="submit" class="btn btn-primary">Delete Borrower</button>&nbsp;
        <a asp-controller="Borrower" asp-action="Index"
           class="btn btn-primary">Cancel</a>

    </form>
</div>