@model Medium
@{
    ViewBag.Title = "Delete Media";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <br />

    <h5>Please confirm that you want to delete:</h5>
    <br />
    <h4>@Model.Title</h4>
    <br />
    <form asp-action="Delete" method="post">

        <input type="hidden" asp-for="MediaId" />

        <button type="submit" class="btn btn-primary">Delete Media</button>&nbsp;
        <a asp-controller="Media" asp-action="Index"
           class="btn btn-primary">Cancel</a>

    </form>
</div>